.user{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.user__info{
    display: flex;
    align-items: center;
}

.user__name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.user__rating {
    display: flex;
    gap: 5px;
}

.star {
    color: #ddd;
    font-size: 18px;
}

.star--filled {
    color: #ffd700;
}

.user__img{
    width: 150px;
    height: 150px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.items{
    margin-top: 30px;
}

.border__list--active {
    color: #ff333f;
    font-weight: bold;
}

.transaction-badge {
    display: inline-block;
    background-color: #ff333f;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-left: 5px;
}

.item__notification {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #ff333f;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
}

.item__img--container {
    position: relative;
}